 
.textHolder{
  width: 200px;
  height: 200px;
  margin: 0 auto;
 text-align: center;
}

*{
  background: white;
}

.textHolder img {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50%;
}

button{
  cursor: pointer;

.textHolder{
  width: 200px;
  height: 200px;
  margin: 0 auto;
 text-align: center;
}

*{
  background: white;
}

.textHolder img {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 50%;
}

button{
  cursor: pointer;

}
